@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Successfully connected to application.</p>
    <div>Graph API result</div>
    <div>@ViewData["GraphApiResult"]</div>
    <div><img src="images/landing.jpeg"/></div>
    <div><sub>a diagram showing two computer networks connected, in the style of wreck-it-ralph</sub></div>
</div>


